@using System.Web.UI.WebControls
@model HotelMotel.Business.Models.Users

@{
    ViewBag.Title = "Login to Hotel Motel Tax Reporting System";
}
<p></p>

<div class="row" style="margin-bottom: 20px;">
    <div style="width: 550px; margin: 30px 0 30px 200px; text-align: justify;">
        <section id="loginForm">
            @using (Html.BeginForm("Index", "hm", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h2 style="text-decoration: underline; color: #E87D3B; text-align: center;"> Hotel-Motel Tax Report System</h2><br />

                @:
                <strong>
                    Welcome to the Hotel-Motel Tax Online system for annual reporting of tax revenues and expenditures. As part of our continued efforts to make reporting
                    a less burdensome endeavor for local governments, this online report system makes it easier and faster to complete and submit. It also provides for
                    completion of the Project Contractor Information Schedule (PCIS) required with every annual tax report

                    <br /><br />Login below using your government's  USER ID and PASSWORD. It is NOT necessary to mail, fax or email a hardcopy of the report.
                </strong>

                @Html.ValidationSummary(true)
                <div class="well" style="height: 170px;">
                    <div class="controls" style="display: inline; margin-left: 100px; width: 80%;">
                        <label class="control-label" style="font-weight: bold;">Login (CICOID): </label>
                        @Html.TextBoxFor(m => m.LoginId)
                        &nbsp;&nbsp;@Html.ValidationMessageFor(m => m.LoginId)
                    </div><p></p>
                    <div class="controls" style="display: inline; margin-left: 130px; width: 80%;">
                        <label class="control-label" style="font-weight: bold;">Password: </label>
                        @Html.PasswordFor(m => m.Password)
                        &nbsp;&nbsp;@Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <div class="controls" style="margin-left: 217px; width: 20%; margin-top: 15px;">
                        <input type="submit" value="Log in" class="btn btn-primary" style="font-weight: bold; margin-left: 30px; width: 100px;" />
                        @*<button type="submit" class="btn btn-primary" style="font-weight: bold; margin-left: 30px; width: 100px;" value=" Log in">
                            <span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log in
                        </button>*@
                    </div>
                    <div style="width: 71%; text-align: right; color: red; font-weight: bold; margin-top: 10px;">
                        @ViewBag.LoginError
                    </div>
                    <div style="text-align: center; color: darkgreen">@Session["LogoutMessage"]</div>
                </div>
            }
            <p style="font-weight: bold; font-size: 15px;">Questions? Email <a href="mailto:dca.research@dca.ga.gov">dca.research@dca.ga.gov</a></p>
            @*<p style="font-weight: bold;"><a href="http://www.surveymonkey.com/s.aspx?sm=fqzqWifUQfsfcVhHx0yFqQ_3d_3d">Quick Survey</a></p>*@
        </section>
    </div>
</div>
@section Scripts {

}