@model HotelMotel.Business.Models.Form3

@{
    ViewBag.Title = "Form 3";
}

<p></p>
<div class="row" style="margin-bottom: 20px;">
    <div style="width: 600px; margin: 2px 0 30px 170px; text-align: justify;">
        <section id="Form3">
            @using (@Html.BeginForm("Form3", "Hm", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @*@using (Ajax.BeginForm(" form2", "Hm" , null, formmethod.post)) {*@
                @Html.AntiForgeryToken()
                <div class="container">
                    <div style="border: 1px solid; width: 750px;">
                        <div class="text-center">
                            <h2 style="text-decoration: underline; color: #E87D3B; text-align: center;"> Hotel-Motel Tax Report System</h2>
                            <p>
                                <h4>@Session["LoggedCityName"] (@Session["LoginId"])</h4>
                            </p>
                        </div> <hr />
                        <div class="well" id="divProjContractor" style="width: 700px; margin: 0 auto; margin-top: -5px; margin-bottom: 10px;">
                            <div style="color: maroon; padding-top: -20px; width: 660px; margin: 0 auto;">
                                <div style="margin: 0 auto; text-align: center; border: #369 1px solid; height: 40px;">@{Html.RenderPartial("Partials/_Menu");}</div>
                                <div style="font-size: 20px; text-align: center; padding-top: 10px;">
                                    Section III: Project Contractor Information Schedule <br />
                                    <span style="font-size: 17px; font-weight: bold;">And Tourism Product Development List (if 51(b))</span> - @ViewBag.sYear
                                </div><p></p>

                                @*@using (Html.BeginForm("ArStart", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {*@

                               
                                    <div id="divUpload" style="margin: 30px 0 50px 5px; padding: 10px; height: 200px; border: 1px solid steelblue">
                                        <p></p>
                                        @if (ViewBag.DocExists == true)
                                        {
                                            <div style="float: left;">
                                                <table class="table table-bordered table-striped">
                                                    <tr>
                                                        <th>
                                                            File Name
                                                        </th>
                                                        <th>
                                                            Upload Date
                                                        </th>
                                                        <th>

                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.HtmlLink(Model.PcisDocUrl, Model.PcisDocName, new { target = "_blank", style = "font-size: 14px; font-weight: bold;" })
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(x => x.PcisDocDt)
                                                            @Html.HiddenFor(x => x.PcisDocId)
                                                            @Html.HiddenFor(x => x.PcisDocName)
                                                        </td>
                                                        
                                                    </tr>
                                                </table>
                                            </div>
                                        }
                                        else
                                        {
                                            <label style="font-size: 15px; font-weight: bold; color: maroon;">No file uploaded for the period</label>
                                        }
                                    </div>
                                
                                <div style="height: 10px;"></div>
                                <table>
                                    <tr>
                                        <td style="width: 50%" nowrap="nowrap">
                                            @*@Html.HtmlLink("Mainmenu", "Main Menu", new { style = "font-size: 18px; color: green; margin-left: 5px;" })*@
                                            @*<input type="button" class="btn btn-info" style="width: 130px; font-weight: bold;" value="Main Menu" onclick="location.href='@Url.Action("Mainmenu", "Hm")'" />*@
                                            <button type="button" class="btn btn-info" style="font-weight: bold;" value="Main Menu" onclick="location.href='@Url.Action("Mainmenu", "Hm")'">
                                                <span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Main Menu
                                            </button>
                                        </td>
                                        <td style="width: 23%" nowrap="nowrap">
                                            @*<input type="button" class="btn btn-primary" style="width: 130px; font-weight: bold;" value="Log Out" onclick="location.href='@Url.Action("LogOff", "Hm")'" />*@
                                        </td>
                                        @if (!Convert.ToBoolean(Session["CertificationComplete"]))
                                        {
                                            <td style="width: 23%" nowrap="nowrap">
                                                &nbsp;&nbsp;<input type="button" class="btn btn-primary" style="width: 215px; font-weight: bold;" id="btnSubmit" name="btnSubmit" value="Print Section III" id="btnForm3Prints" name="btnForm3Prints" onclick="window.print()" />&nbsp;&nbsp;
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="width: 25%" nowrap="nowrap">
                                                @*<input type="button" class="btn btn-info" style="width: 215px; font-weight: bold;" title="Section III" value="Print Section III" id="btnForm3Print" name="btnForm3Print" onclick="window.print()"/>*@
                                                <button type="button" class="btn btn-info" style="width: 160px; font-weight: bold;" title="Section III" value="Print Section III" id="btnFormPrint" name="btnFormPrint" onclick="window.print()">
                                                    <span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Print Section III
                                                </button>
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="text-align: center; font-weight: bold; font-size: 15px;">
                                            <br /> If you have questions, send an email to:  <a href="mailto:Research@dca.ga.gov" style="color: green">research@dca.ga.gov</a>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </section>

    </div>
</div>